<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Listado de comunidads')">


</head>

<body>

	<header>
		<nav th:replace="fragments/navbar :: navbar"></nav>
	</header>

	<main>
		<div class="container" style="min-height: 90vh">

<br>
<br>
<br>
<br>



<div class="row">
	<div class="col-md-12 text-end">			
		<a th:href="@{/listadoComunidades}" class="texto-azul" style="text-decoration: none; cursor:pointer;"><i class="fas fa-arrow-circle-left"></i> &nbsp;&nbsp;Volver</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4 class="texto-azul"><i class="fa fa-user"></i>
			<span th:if="${modo == 'insertar'}">&nbsp;&nbsp;Nueva comunidad</span>
			<span th:if="${modo == 'actualizar'}">&nbsp;&nbsp;Editar comunidad</span>
		 </h4>						
	</div>
</div>
<hr class="texto-azul">

<div class="row" th:if="${mensaje != null}">
	<div class="col-md-12 text-center">			
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<span th:text="${mensaje}"></span>
		</div>
	</div>
</div>
<br>

  	<!-- Datos personales -->
	<form th:action="${modo + 'Comunidad'}" th:object="${comunidadForm}" method="post">
		<input type="hidden" th:field="*{idComunidad}"/>
		<div class="row">
			<div class="col-md-12">
				<!-- Grid row -->
				<div class="row">
					<!-- Default input -->
					<div class="form-group col-md-12">
						<label for="identificador">Nombre</label><span class="form-text text-danger"> *</span>
						<input type="text" class="form-control" th:field="*{nombre}">
						<span class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>	
					</div>
				</div>
				<br>							
				<div class="row">
					<div class="form-group col-md-12 align-self-end text-end">
							<a th:href="@{/listadoComunidades}"  class="btn btn-secondary btn-sm px-4">Cancelar</a>
							&nbsp;&nbsp;
							<button class="btn btn-primary btn-sm" type="submit">Guardar</button>
					</div>		
				</div>	
				<!-- Extended default form grid -->
			</div>
		</div>
	</form>




</div>
<!-- Fin container -->
<br>
</main>


<br>
<br>
<br>
<br>


<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>