<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Listado de recursos')">


</head>

<body>

	<header>
		<nav th:replace="fragments/navbar :: navbar"></nav>
	</header>

	<main>
		<div class="container" style="min-height: 90vh">

<br>
<br>
<br>


<form name="formulario" method="post">
<!-- 	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
	<input type="hidden" name="idRecurso"/>
	<input type="hidden" name="idComunidad" th:value="${comunidad.idComunidad}"/>
</form>

<br>
<br>

<div class="row">
	<div class="col-md-12">
				<h4 class="texto-azul"><i class="fas fa-users"></i>&nbsp;&nbsp;Listado de recursos de <span th:text="${comunidad.nombre}"></span></h4>
	</div>
</div>
<hr class="texto-azul">

<div class="row" th:if="${mensaje != null}">
	<div class="col-md-12 text-center">			
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<span th:text="${mensaje}"></span></b>
		</div>
	</div>
</div>
<br>



<div th:classappend="${recursos!=null and !recursos.isEmpty() ? 'block' : 'd-none'}">


<div class="row">
	<div class="col-md-8">&nbsp;</div>
	<div class="col-md-4">
  		<ul th:replace="${paginacion} ? ~{fragments/paginacion :: paginacion('listadoRecursosFiltrado')} : ~{}" ></ul>
	</div>
</div>
<div class="row">
		<table class="table table-hover table-striped table-sm">
			<caption>Listado de recursos</caption>
			<thead class="table-light">
				<tr>					
					<th scope="col">Tipo de recurso</th>
					<th scope="col">Descripción</th>			
					<th width="10%">&nbsp;</th>
			</thead>
			<tbody>
				<tr th:each="recurso : ${recursos}">
						<!-- 
						<td>00000000R</td>
						<td>NOMBRE</td>
						<td>APELLIDO1</td>
						<td>APELLIDO2</td>
						-->				
						<td th:text="${recurso.tipoRecurso.idTipoRecurso}" />
						<td th:text="${recurso.tipoRecurso.descripcion}" />
<!-- 						<td th:text="${recurso.apellido1}" /> -->
<!-- 						<td th:text="${recurso.apellido2}" /> -->
<!-- 						<td th:text="${recurso.habilitacion}" />						  -->
				        <td>
					      	<a href="#" th:onclick="javascript:editarRecurso([[${recurso.idRecurso}]])"><i class="fas fa-user-edit fa-lg" data-toggle="tooltip" title="Editar"></i></a>
					      	&nbsp;&nbsp;&nbsp;&nbsp;			      	
					      	<a href="#" th:onclick="javascript:mostrarConfirm([[${recurso.idRecurso}]])"><i class="fa fa-trash fa-lg text-danger" data-toggle="tooltip" title="Borrar"></i></a>				      	
				      	</td> 																							
				</tr>				
			</tbody>
		</table>
</div>

</div>



<div th:classappend="${recursos == null or recursos.isEmpty()  ? 'block' : 'd-none'}">

	<br><br><br><br><br><br>

		<div class="row">
			<div class="col-md-12 text-center">
				<div class="form-row">
					<div class="form-group col-md-12">
						<div class="alert alert-warning alert-dismissible fade show"
							role="alert">
							<span>No hay recursos que mostrar</span>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="row">
	<div class="col-md-10">&nbsp;</div>
	<div class="col-md-2 text-end">
			<a th:href="@{'/verAltaRecurso' + ${comunidad.idComunidad}}" class="btn btn-primary btn-sm">Nuevo recurso</a>
	</div>
</div>

<!-- Mensaje Baja Modal -->
<div id="confirmModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header alert text-white text-left" style="background-color: red;">
      	<h5 class="modal-title"><i class="fas fa-exclamation-circle fa-lg"></i>&nbsp;Atención</h5>  
		<i class="fas fa-times align-bottom" style="cursor:pointer;" data-dismiss="modal"></i>	     
      </div>    
      <div class="modal-body">
         <p class="text-center">Va a borrar al recurso. ¿Desea continuar?</p>
      </div>
      <div class="modal-footer">         
         <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Cancelar</button>
         <a href="#" role="button" id="botonAceptar" class="btn btn-danger btn-sm"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Aceptar</a>
      </div>
    </div>
  </div>
</div>
<!-- ./ Confirm Modal -->

</div>
<!-- Fin container -->
<br>
</main>


<br>
<br>
<br>
<br>


<script type="text/javascript">

function editarRecurso(idRecurso){
	
	document.formulario.idRecurso.value = idRecurso;	
	document.formulario.action="editarRecurso";
	document.formulario.submit();
}

function borrarRecurso(idRecurso){
	
	document.formulario.idRecurso.value = idRecurso;	
	document.formulario.action="borrarRecurso";
	document.formulario.submit();
}

function mostrarConfirm(idRecurso) {
	var message = "";
	$("#botonAceptar").click(function() {
		borrarRecurso(idRecurso);
	});
    $('#confirmModal').modal('show');
}

</script>

<footer th:replace="fragments/footer :: footer"></footer>


</body>
</html>