<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
            
<body>

<footer th:fragment="footer" class="page-footer fixed-bottom">
    <div class="footer-copyright text-center font-small">
        <div class="pb-3" style="background-color: #1367a6; color: white;">
            <hr>
            Contacto | Aviso legal | &copy GolemDR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; v.<span th:text="#{app.version}"></span>
        </div>
    </div>
  
    <!-- SCRIPTS -->
	<script type="text/javascript" th:src="@{js/bootstrap.bundle.min.js}" ></script>
	<script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{js/popper.min.js}" ></script>
	<script type="text/javascript" th:src="@{js/datatables.min.js}" ></script>
	<script type="text/javascript" th:src="@{js/application.js}" ></script>

	
	<noscript>Su navegador no soporta Javascript o este lenguaje está desactivado</noscript>	
</footer>





</body>
</html>