<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)"> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{css/fontawesome.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{css/solid.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{css/brands.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{css/estilos.css}" media="all" />
    <link rel="stylesheet" type="text/css" th:href="@{css/datatables.min.css}" media="all" />
       
    
    <title th:text="${title}"></title>
    
</head>

<body></body>

</html>
