<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
            
	<body>
	
		<!-- <div th:fragment="modal-borrar" id="confirmModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header alert text-white text-left" style="background-color: red;">
						<h5 class="modal-title"><i class="fas fa-exclamation-circle fa-lg"></i>&nbsp;Atención</h5>  
						<i class="fas fa-times align-bottom" style="cursor:pointer;" data-dismiss="modal"></i>	     
					</div>    
					<div class="modal-body">
						<p id="mensajeConfirmacion" class="text-center">Mensaje de confirmación</p>
					</div>
					<div class="modal-footer">         
						<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fas fa-times-circle"></i>&nbsp;&nbsp;Cancelar</button>
						<a href="#" role="button" id="botonAceptar"
							class="btn btn-danger btn-sm"
							th:onclick="${session.datosSesion.modificable} ? 'miFuncionAceptar()' : 'return false;'"
							th:classappend="${!session.datosSesion.modificable} ? 'disabled' : ''">
							<i class="fas fa-check-circle"></i>&nbsp;&nbsp;Aceptar
						</a>		      
					</div>
				</div>
			</div>
		</div> -->	
	
	</body>
</html>