<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Error en la aplicación')">

</head>

<body>

	<header>
		<nav th:replace="fragments/navbar :: navbar"></nav>
	</header>

	<main>
		<div class="container" style="min-height: 90vh">


			<br> <br> <br> <br> <br><br> <br> <br> <br> <br><br> <br> <br> <br> <br>

			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Se produjo un error 404 - Not found</h2>
				</div>
			</div>
	</div>

	</main>








	<footer th:replace="fragments/footer :: footer"></footer>



</body>
</html>