<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Cambiar password')">

</head>

<body>

<header>
	<nav th:replace="fragments/navbar :: navbar"></nav>
</header>

	<main>
		<div class="container mb-4" style="min-height:90vh; padding-top: 150px">

<div class="row" th:if="${mensaje != null}">
	<div class="col-md-2 col-lg-2">&nbsp;</div>
	<div class="col-md-8 col-lg-8 align-middle alert alert-danger"><div id="rojo"><i class="fas fa-info-circle fa-2x"></i>&nbsp;&nbsp;[[${mensaje}]]</div></div>
	<div class="col-md-2 col-lg-2">&nbsp;</div>
</div>

<div class="row">
	<div class="col-md-3 col-lg-4">&nbsp;</div>
	<div class="col-md-6 col-lg-4">
		
 		<form class="p-3 mb-5 bg-white rounded text-center" th:action="cambiarPassword" th:object="${cambioPasswordForm}" method="post">
	 		<div class="p-4">
	
				<span class="h4 mb-4">Cambiar contraseña</span>
				<br><br>
				<!-- Name -->
				<input type="password" class="form-control mb-4" name="nuevaPassword" th:value="*{nuevaPassword}" placeholder="Introduzca la nueva contraseña" required>	
				<!-- Password -->
				<input type="password" class="form-control mb-4" name="nuevaPasswordRepetida" th:value="*{nuevaPasswordRepetida}" placeholder="Repita la nueva contraseña" required>	
				<!-- Sign in button -->
				<button class="btn btn-primary btn-block btn-sm" type="submit">Cambiar</button>
	
			</div>
					
		</form>		
		
	</div>
	<div class="col-md-3 col-lg-4">&nbsp;</div>
</div>

<br>
	
</div>
	</main>

<footer th:replace="fragments/footer :: footer"></footer>



</body>
</html>