<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head :: head('Recursos comunes')">

</head>

<body>

	<header>
		<nav th:replace="fragments/navbar :: navbar"></nav>
	</header>


	<main>
		<div class="container" style="min-height: 90vh">

<br>
<br>
<br>
<br>
<br>


<div class="row">
	<div class="col-md-12 mx-auto text-center texto-azul"><h3><i>Reserva de recursos comunes</i></h3></div>
</div>
<br>
<div class="row">
	<div class="col-md-12 text-center"><img class="d-inline-block" height="500px" th:src="@{imagenes/vecinos.jpg}"/></div>
</div>



		</div>
	</main>



	<footer th:replace="fragments/footer :: footer"></footer>



</body>
</html>